<!-- Template Widgets -->

        {{widget('extendednavigation', 'navigation', {"align":"center"})|raw}}

        <div class="theme-header">
            <div class="brand">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
            {{widget('profile', 'strapline', { 'profileType':'strapline', 'strapline':'profile'})|raw}}
        </div>

<!-- End Template Widgets -->
